#background_div
{
    position:absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: grey;
}
#container {
    position:absolute;
    width:95%;
    height:80%;
}

#modelStats {
    width:25%;
    height:30%;
    right:3%;
    top:25%;
    margin:4px;
    padding:4px;
    background-color:rgba(200, 200, 220, .5);
    font-size:20px;
    position:absolute;
    display:none;
}

.model_img
{
    position: absolute;
    bottom: 0;
    left: 7%;
}
img
{
    width: 210px;
    height: 110px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.15), 0 6px 20px 0 rgba(0,0,0,0.15);
}
img:hover
{
    border: 5px solid orangered;
    box-shadow: 0 22px 26px 0 rgba(0,0,0,0.25), 0 27px 30px 0 rgba(0,0,0,0.25);
}

img:active
{
    border-color: orangered;
}

#racer
{
    position: absolute;
    box-shadow: none;
    width: 300px;
    height: 500px;
    top:10%;
    left:5%;
}

#racer:hover
{
    border: none;
    box-shadow: none;
}

<<<<<<< HEAD
button
=======
#choose_but
>>>>>>> 42c857452b4009c3e11b45cdcdc0710a732e72c5
{
    width:auto;
    background-color: #FF6428;
    padding:9px 40px;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.25), 0 6px 20px 0 rgba(0,0,0,0.25);
}

#choose_but
{
    position:absolute;
    bottom:17%;
    left:43%;
}

button:hover
{
    background-color: #FF3C00;
    box-shadow: 0 22px 36px 0 rgba(0,0,0,0.25), 0 27px 70px 0 rgba(0,0,0,0.25);
}



